@font-face {
    font-family: 'Nanum Brush';
    font-style: normal;
    font-weight: 400;
    src: url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nanum_brush/file/NanumBrush.woff2) format('woff2'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nanum_brush/file/NanumBrush.woff) format('woff'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nanum_brush/file/NanumBrush.otf) format('otf')
}