@font-face {
    font-family: 'Nixgon';
    font-style: normal;
    font-weight: 300;
    src: url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_Light.woff2) format('woff2'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_Light.woff) format('woff'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_Light.ttf) format('truetype')
}

@font-face {
    font-family: 'Nixgon';
    font-style: normal;
    font-weight: 400;
    src: url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_Regular.woff2) format('woff2'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_Regular.woff) format('woff'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'Nixgon';
    font-style: normal;
    font-weight: 700;
    src: url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_bold.woff2) format('woff2'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_bold.woff) format('woff'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nixgon/file/NIXGONFONTS_bold.ttf) format('truetype')
}