@font-face {
    font-family: 'Nanum Barun Pen';
    font-style: normal;
    font-weight: 400;
    src: url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nanum_barunpen/file/NanumBarunPen.woff2) format('woff2'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nanum_barunpen/file/NanumBarunPen.woff) format('woff'),
        url(//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/nanum_barunpen/file/NanumBarunPen.otf) format('otf')
}